
  @import "compass/css3/images";
  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";

  @import "normalize";
  @import "tipsy";
  @import "not_supported";


  html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  // Header 
  .header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    display:block;
    padding:22px 50px;
    background:#333333;
    border-bottom:1px solid black;
    z-index:1;

    i.twitter {
      position:absolute;
      width:14px;
      height:12px;
      top:25px;
      left:22px;
      @include background(image-url('sprite.png') no-repeat -39px -86px);
    }

    h1 {
      margin:0;
      font:bold 19px "Rokkitt", Arial;
      color:white;
      line-height:21px;
    }

    p {
      margin:5px 0 0;
      font:normal 14px "Helvetica Neue", Arial;
      line-height:16px;
      color:#999;
    }
  }

  // Legends

  .cartodb-legend-stack {
    display:none!important;
  }


  // Zoom

  div.cartodb-zoom {
    position: absolute;
    left:0px;
    top:90px;
  }

  
  // Share

  div.cartodb-share {
    position:absolute;
    display:block;
    top:90px;
    right:0;
  }

  // Attribution

  .leaflet-control-attribution { display:none }


  // Time slider

  div.cartodb-timeslider {
    width:auto;
    left:20px;
    right:20px;
    height: auto!important;

    // Resetting defaults
    .slider { width:100%!important }
    li { border:none!important }
    a.button {
      width:18px;
      height:18px;
      margin:0;
      @include background(image-url('sprite.png') 1px -83px #333);
      @include border-radius(2px);

      &:hover { @include background(image-url('sprite.png') 1px -83px #333) }
      &.stop, &.stop:hover { @include background(image-url('sprite.png') -13px -82px #333) }
    }

    
    // New styles :)
    div.head {
      position:absolute;
      top:-90px;
      left:0;
      right:0;
      text-align:center;

      ul {
        height:63px;
        width:auto;
      }

      li {
        @include inline-block();
        height:63px;
        vertical-align: middle;
      }

      div.logo {
        display:none;
        width:23px;
        height:32px;
        padding:0;
        margin:16px 12px 0;
        &.madrid { @include background(image-url('sprite.png')  -1px -51px ) }
        &.atletico { @include background(image-url('sprite.png')  -1px -18px ) }
      }

      h2 {
        width:185px;
        margin:0 25px;
        font:bold 30px "Rokkitt", Arial;
        font-weight:800;
        color:white;
        line-height:63px;

        &.madrid { text-align:right }

        // Trick
        &:before {
          content:'';
          position:absolute;
          top:31px;
          height:1px;
          background:rgba(white,0.4);
          display:none;
        }

        &.madrid:before { left:0; right:0 }
        &.atletico:before { right:0; left:0 }
      }

      div.score {
        @include inline-block();
        width:127px;
        height:63px;
        line-height:63px;
        @include background(image-url('sprite.png') -26px -18px);
        text-align:center;

        em {
          @include inline-block();
          margin:0 6px;
          font:800 36px "Rokkitt",Arial;
          color:white;
          text-shadow: 2px 0px black;
        }
      }// Score


      div.time {
        position:absolute;
        display:block;
        left:50%;
        bottom:-40px;
        width:65px;
        height:28px;
        margin-left:-33px;
        background:#DDDDDD;
        @include border-radius(2px);
        text-align: center;
        line-height: 27px;

        a.button {
          display:none;
          position:relative;
          vertical-align: middle;
          left:auto;
          top:auto;
          margin-right:5px;
        }

        p {
          @include inline-block();
          width:auto;
          height:auto;
          padding:0;
          margin:0;
          font:normal 13px "Helvetica Neue", "Helvetica", Arial;
          color:black;
        }
      } // time

    } // Head


    // HIGHTLIGHTS!

    div.highlights {
      padding:10px 20px;
    
      div.team {
        position:relative;
        display:block;
        width:100%;
        height:32px;

        div.logo {
          position:absolute;
          width:23px;
          height:32px;
          padding:0;
          top:0;
          left:0;
        }

        &.madrid div.logo { @include background(image-url('sprite.png')  -1px -51px ) }
        &.atletico div.logo { @include background(image-url('sprite.png')  -1px -18px ) }
      }


      div.timeline,
      div.wrap_slider {
        position:absolute;
        top:0;
        bottom:0;
        left:66px;
        right:0;
        height:100%;
        width:auto;
      }

      .ui-slider-horizontal {
        height:2px;
      }

      .ui-slider-range {
        height:4px;
        margin-top:-1px;
        background:#8996A3;
      }

      .ui-slider-handle {
        top:-5px;
        background-color:#333;
      }

      div.timeslider {
        position:relative;
        height:3px;
        margin:9px 0;

        a.button {
          position:absolute;
          left:45px!important;
          top:-8px!important;
        }
      }

      // Highlight icons
      
      div.highlight {
        position:absolute;
        top:0;
        height:32px;
      }

      i {
        position:absolute;
        text-indent:-9999px;
        font-size:0;
        line-height:0;

        &:hover { cursor:pointer }

        &.goal {
          width:15px;
          height:15px;
          margin-left:-7px;
          margin-top:-7px;
          @include background(image-url('sprite.png') -50px -2px );
        }

        &.yellow {
          width:12px;
          height:16px;
          margin-left:-6px;
          margin-top:-7px;
          @include background(image-url('sprite.png') -14px -1px );
        }

        &.red {
          width:12px;
          height:16px;
          margin-left:-6px;
          margin-top:-7px;
          @include background(image-url('sprite.png') -1px -1px );
        }

        &.substitution {
          width:13px;
          height:13px;
          margin-left:-6px;
          margin-top:-6px;
          @include background(image-url('sprite.png') -72px -2px );
        }

        &.start, &.end {
          top:22px;
          width:18px;
          height:10px;
          margin-left:-9px;
          @include background(image-url('sprite.png') -29px -4px ); 
        }
      }

      p {
        position:absolute;
        left:50%;
        top:-42px;
        width:100px;
        margin-left:-49px;
        text-align: center;
        z-index:0;
      }

      span.slider_mamufas {
        position:absolute;
        top:-2px;
        width:auto;
        height:2px;
        background:transparent;
        border-top:2px solid white;
        border-bottom:2px solid white;
        z-index:101;
      }

      span.separator {
        position:absolute;
        left:50%;
        top:-11px!important;
        margin-left:-1px;
        width:1px;
        height:24px;
        background:#DDDDDD;
      }

      span.line {
        position:absolute;
        left:50%;
        margin-left:-1px;
        width:1px;
        height:10px;
        background:#8996A3;
      }

      div.highlight.madrid {
        i { top:10px; margin-top:0 }
        span { bottom:-9px }
      }

      div.highlight.atletico {
        i { bottom:10px }
        span { top:-9px }
      }


    } // Info

  }


  // Hello mobile

  @media (max-width: 760px){
    .highlights { display:none }
    div.time a.button { display:inline-block!important }
    div.cartodb-zoom,
    div.cartodb-share { top:110px }
    div.head h2 {display:none}
    div.head div.logo {display:inline-block!important}
  }

  @media (max-width: 474px) {
    div.cartodb-zoom,
    div.cartodb-share { top:130px }
  }